/**
 * To edit, create a folder called "scc_templates" in the root of your theme 
 * and COPY this file into it. It will override the plugin's CSS file.
 */

/* default post listing styles */
#scc-wrap {
	position: relative;
	padding: 1em;
	border: 1px solid #dadada;
	margin: 0 0 1.5em;
}
#scc-wrap .scc-post-container {
	display: none;
}
#scc-wrap .scc-show-posts {
	display: block;
}
#scc-wrap p:last-of-type {
	margin: 0 1em 0 0;
}
#scc-wrap ol,
#scc-wrap ul {
	padding: 1.5em 0 0;
	margin: 0;
}
#scc-wrap li {
	list-style-position: inside;
	padding: .5em 0 0 0;
}
#scc-wrap li:first-child {
	padding-top: 0;
}
#scc-wrap li:last-child {
	padding-bottom: 0;
}
#scc-wrap .scc-list-item {
}
#scc-wrap a {
}
#scc-wrap .scc-current-post {
	font-weight: bold;
}
#scc-wrap h3 {
	margin-top: 0;
}
#scc-wrap .scc-toggle-post-list {
	position: absolute;
		right: 10px;
		bottom: 2px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}